*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width:auto;
    height: auto;
}
.navbar{
    width: auto;
}
nav{
    background-color: rgb(240,241,246);
    width: 100%;
    font-size: 16px;
    display: flex;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1%; 

} 

.navbar .navigation a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    overflow: visible;
    background-color: inherit;
}

ul li{
    justify-content: space-between;
    float: right;
    
}
.navigation a{
    text-align: center;
    color: black;
    padding: 4em;
    
}
