*{
    margin: auto;
    padding: auto;
    font-family: 'Poppins', sans-serif;
    width:auto;
    height: auto;
}

.navbar{
    width: auto;
}
nav{
    background-color: rgb(240,241,246);
    width: 100%;
    font-size: 16px;
    display: flex;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1%; 

} 

.navbar .navigation a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    overflow: visible;
    background-color: inherit;
}

ul li{
    justify-content: space-between;
    float: right;
    
}
.navigation a{
    text-align: center;
    color: black;
    padding: 4em;
    
}

.main1 .main-whole{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main1 .main-whole .main-heading{
    text-align: center;
    margin-top:auto;
}

.main1 .main-whole .main-body{
    text-align: right;
    margin: 3% 3%;
}

.main1 .main-whole .main-body p{
    width: auto;
    display: flex;
    text-align: justify;
    overflow: wrap;
    margin-left: auto;
    margin-right: 3%;
    font-size: 24px;
}
/*#subby img{
    height: 10rem;
    float: right;
    transform:translate(-3em -2em)
}*/
.main1{
    background-color:white;
    color: black;
    padding-top: 1em;
    padding-bottom: 3em;
    text-align: center;
    font-size: 22px;
}

.main2{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 2em;
    padding-bottom: 10em;
    font-size: 17px;
}

.main2 h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2.5%;
}
#image2{
    height: 600;
    position: relative;
    float: right;
    transform: translate(-2em, 4em);
}
.background{
   padding: 2em 4em;
    position: relative;
    text-align: left;
    float: left;
    background-color: rgb(240,241,246);
}
.hobby{
    position: relative;
    padding-top: 20em;
    padding-left: 2em;
    text-align: left;
    
}

.container{
    margin: auto;
    display: flex;
}
.row{
    display: flex;
    flex-direction: row;
}
.card-body{
    word-wrap: break-word;
}

.works{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.works h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.skills h2{
    padding-top: 2em;
    text-align: center;
}

.contact{
    text-align: center;
    background-color: white;
    padding-top: 2em;
    padding-bottom: 3em;
}
.contact p{
    font-size: 20px;
}
.hob{
    list-style-type: none;
}

/*.card-holder{
    display: flex;
    justify-content: space-between;
}
.card-holder .card{
    background-color: tomato;
    padding: 1%;
    width: 20%;
}
.card-holder .card .card-body{
    word-wrap: break-word;
    text-align: center;
}
.card-holder .card  img{
    position: relative;
    left: 25%;
}*/
.bag{
    margin-bottom: 7%;
    background-color: rgb(240,241,246);
    padding:1%;
}
.bag>h1{
    text-align: center;
}
/* .footer .row{
    display: flex;
    justify-content: space-between;
} */
.footer p{
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
}
.footer{
    background-color: rgb(240,241,246);
    padding: 5%;
}